:root {
    background-color: #ffbdbd;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    margin: 10px;
    color: red;
}
input, select {
    margin: 10px;
}
label {
    margin-left: 10px;
}
label + input, label + select {
    margin-left: 5px;
}
.header {
    float:left;
}
.searchResults {
    float: right;
    width: 600px;
    margin:10px;
    padding: 10px 100px;
    background-color: white;
}
.searchResults::after {
    clear:both;
}
.searchResults .result {
    margin-top: 75px;
}
.result .result-summary {
    color: #404040;
}